<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.min.css')}}">
    
    
</head>

<body>
    <div class="container">
        <div class="colormage">ColorMage</div>
        <div class="container-navbar">
            <nav>
                <a href="/" class="text home ">Home</a>
                <a href="about" class="text about active">About</a>
                <a href="contact" class="text contact">Contact</a>
            </nav>
        </div>

        <!-- <div class="mainPage">
            <div class="mainSec">
                <h1 class="text"> About section here </h1>
            </div>
        </div> -->
        <div class="services">
            <h1>OUR FEATURES</h1>
            <div class="cen">
                <div class="service">
                    <i class="fas fa-anchor"></i>
                    <h2>Perfect Quality</h2>
                    <p>We intelligently apply colorization to retain image quality.</p>
                </div>

                <div class="service">

                    <i class="fas fa-trophy"></i>
                    <h2>Best Colorization</h2>
                    <p>Colorize your image by up to 80% or more by applying Colorization.</p>
                </div>

                <div class="service">
                    <i class="fab fa-angellist"></i>
                    <h2>Easy To Use</h2>
                    <p>Simply upload your image and watch our tool do it's magic.Even old images are colorize within
                        seconds.</p>
                </div>

                <div class="service">
                    <i class="far fa-images"></i>
                    <h2>Image Format</h2>
                    <p>Our Image Colorizer can colorize JPEG images. Our Image Colorizer can colorize PNG images.</p>
                </div>

                <div class="service">
                    <i class="fas fa-heart"></i>
                    <h2>It's Free</h2>
                    <p>We have colorize mant images for free!.There is no software to install,registrations or
                        watermarls..</p>
                </div>

            </div>
        </div>
    </div>

</body>

</html>